@charset "UTF-8";
@font-face {
    font-family: Apple-Chancery; src: url('fonts/Apple-Chancery.ttf');
}
@font-face {
    font-family: ChicagoFLF; src: url('fonts/ChicagoFLF.ttf');
}
@font-face {
    font-family: ComicSans; src: url('../fonts/Comic-Sans-MS.ttf');
}
@font-face {
    font-family: FindersKeepers; src: url('../fonts/FindersKeepers.ttf');
}
@font-face {
    font-family: Papyrus; src: url('../fonts/Papyrus.ttc');
}
@font-face {
    font-family: PartyLET; src: url('../fonts/PartyLET-plain.ttf');
}
@font-face {
    font-family: PixelTNR; src: url('../fonts/pixelated-times-new-roman.ttf') format('truetype');
}
@font-face {
    font-family: VCRMono; src: url('../fonts/VCR_OSD_MONO_1.001.ttf');
}
body {
	margin : 0;
}
#headerMarquee {
    font-family: "roc-grotesk-wide", sans-serif;
    font-weight: 700;
    font-size : 30pt;
    font-style: normal;
    background-color : #e93800;
    color : #f17aff;
    border : 2px solid black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

#marqueeText {
     display: inline-block;
     animation: marquee 25s linear infinite;
}
@keyframes marquee {
     0% {
       transform: translateX(0%);
      }
     100% {
        transform: translateX(-100%);
      }
}
#nameMarquee {
    font-family: "roc-grotesk", sans-serif;
    font-weight: 700;
    font-size : 30pt;
    font-style: normal;
    background-color : #0222c5;
    color : white;
    border-bottom : 2px solid black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    width: full;
    overflow: hidden;
    white-space: nowrap;
}

#marquee2Text {
     display: inline-block;
     width : 100%;
     animation: marqueeR 45s linear infinite;
}
@keyframes marqueeR {
     0% {
       transform: translateX(-75%);
      }
     100% {
        transform: translateX(100%);
      }
}
#marqueeText:hover {
    animation-play-state : paused;
}
#marquee2Text:hover {
	animation-play-state : paused;
}
#profilePic {
	width : 300px;
	border-radius : 200px;
	border : 2px solid black;
	top : 145px;
	left : 35px;
	position : absolute;
	z-index : 1;
}
p {
	font-family : Helvetica, sans-serif;
	font-size : 16pt;
	color : #0222c5;
	width : 65%;
	position : static;
	margin-left : 375px;
	margin-top : 30px;
}
@keyframes highlight {
    from {
      background-position: 0;
    }

    to {
      background-position: -100%;
    }
}
a {
	font-family : "roc-grotesk-wide", sans-serif;
	font-size : 25pt;
	font-weight : 700;
	font-style : normal;
	text-decoration : none;
	position : static;
	bottom : 35px;
	color : #0222c5;
}
a:hover {
	animation-name: highlight;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    background-size: 200%;
    background-image: linear-gradient(to right, white 50%, transparent 50%), 
                      linear-gradient(transparent 50%, #f17aff 50%);
}
#macPng {
	position : absolute;
	top : 350px;
	left : 230px;
	z-index : 6;
	width : 120px;
}
#homeLink {
	position : absolute;
	height : 20px;
	top : 510px;
	left : 230px;
	font-family : Helvetica;
	font-size : 20pt;
	animation : none;
}
#homeLink:hover {
	text-decoration : underline;
}
